[mysqld]
character-set-server    = utf8mb4
collation_server        = utf8mb4_general_ci
max_allowed_packet      = 8M
default_storage_engine  = InnoDB
max_connections         = 100
max_user_connections    = 50
thread_cache_size       = 100

# InnoDB
innodb_buffer_pool_size = 128M 

# Compatibility
default_authentication_plugin=mysql_native_password


# Session variables
sort_buffer_size        = 2M
tmp_table_size          = 8M
read_buffer_size        = 10M
read_rnd_buffer_size    = 1M
join_buffer_size        = 1M
max_heap_table_size     = 8M 

log_timestamps          = SYSTEM 

[client]
default-character-set   = utf8mb4
